*.a
*.so
*~
\#*\#
*.o
*.d
a.out
testConsumer
*.db
*.log
*.exe
*.obj
*.opensdf
*.sdf
*.suo
*.ilk
*.tlog
*.idb
*.pdb
*.lib
*.dll
*.exp
*.ipch
*.metagen
*.cache
*.lastbuildstate
testEvent
testThreadPool
TAGS
requestSerializer
server_r-type
G-BALLS